.screenshot-2024-03-19-at-1228 {
  position: absolute;
  top: 1.125rem;
  left: 27.75rem;
  width: 56.25rem;
  height: 43.438rem;
  object-fit: cover;
}
.placeholder-graphics-big {
  position: absolute;
  height: 39.06%;
  width: 39.5%;
  top: 60.94%;
  right: 0;
  bottom: 0;
  left: 60.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.advertisement {
  position: absolute;
  top: 0;
  left: 3.75rem;
  line-height: 120%;
}
.lorem-ipsum-dolor1 {
  position: absolute;
  width: 100%;
  top: 4.613rem;
  left: 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Red Hat Text";
  color: #313131;
  display: inline-block;
  height: 2.481rem;
}
.place-holder-text {
  position: absolute;
  width: calc(100% - 368px);
  top: 13.875rem;
  right: 9.75rem;
  left: 13.25rem;
  height: 7.094rem;
}
.placeholder-graphics-small {
  position: absolute;
  height: 22.76%;
  width: 19.57%;
  top: 0;
  right: 80.43%;
  bottom: 77.24%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ad-placeholder {
  position: absolute;
  height: 100%;
  width: 61.98%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 38.02%;
  display: none;
}
.hero1 {
  position: absolute;
  top: 5.25rem;
  left: 6rem;
  width: 84rem;
  height: 45.719rem;
  font-family: "Red Hat Display";
}
.icon3 {
  top: 0;
  left: 0;
  height: 3.688rem;
  overflow: hidden;
}
.container,
.icon3,
.icon4 {
  position: absolute;
  width: 12.563rem;
}
.icon4 {
  top: 5.25rem;
  left: 0;
  height: 3.688rem;
  overflow: hidden;
}
.container {
  top: 3.25rem;
  left: 71.438rem;
  height: 8.938rem;
}
.cevah2 {
  position: absolute;
  top: 0;
  left: 2.063rem;
  display: inline-block;
  width: 5.188rem;
  height: 2.063rem;
}
.frame-inner,
.rectangle-div {
  position: absolute;
  border-radius: 1px;
  width: 0.525rem;
  height: 1.844rem;
}
.frame-inner {
  top: 1.319rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rectangle-div {
  top: 0.131rem;
  left: 0.656rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
}
.cevah-group {
  position: absolute;
  top: 3.25rem;
  left: 6rem;
  width: 7.25rem;
  height: 2.063rem;
  font-size: 1.5rem;
  font-family: "IBM Plex Sans";
}
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 5.813rem;
  left: 6rem;
  display: flex;
  align-items: center;
  width: 14.25rem;
  height: 4.188rem;
}
.social-icons3,
.social-icons4,
.social-icons5 {
  position: absolute;
  top: 12.25rem;
  left: 10.813rem;
  width: 1.438rem;
  height: 1.438rem;
  overflow: hidden;
}
.social-icons4,
.social-icons5 {
  left: 8.438rem;
  width: 1.375rem;
}
.social-icons5 {
  left: 6rem;
  width: 1.438rem;
}
.contact-us1,
.support1 {
  position: absolute;
  top: 3.313rem;
  left: 25.875rem;
  font-size: 1rem;
  font-weight: 600;
}
.support1 {
  left: 39.125rem;
}
.hellocevahgmailcom1 {
  position: absolute;
  top: 0.063rem;
  left: 1.5rem;
}
.envelope-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  overflow: hidden;
}
.hellocevahgmailcom-group {
  position: absolute;
  top: 7.688rem;
  left: 25.875rem;
  width: 9.688rem;
  height: 1.125rem;
  font-family: "Red Hat Text";
}
.privacy-policy1,
.terms-of-use1 {
  position: absolute;
  top: 7.688rem;
  left: 39.125rem;
}
.privacy-policy1 {
  top: 9.563rem;
}
.div1 {
  position: absolute;
  top: 0;
  left: 1.5rem;
}
.vector-icon1 {
  position: absolute;
  height: 87.65%;
  width: 11.31%;
  top: 11.76%;
  right: 88.69%;
  bottom: 0.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.faqs1,
.frame-div {
  position: absolute;
  top: 5.813rem;
}
.frame-div {
  left: 25.875rem;
  width: 7.625rem;
  height: 1.063rem;
  font-family: "Red Hat Text";
}
.faqs1 {
  left: 39.125rem;
}
.footer1,
.group-child1 {
  position: absolute;
  left: 0;
}
.footer1 {
  top: 49.688rem;
  background-color: #004051;
  width: 100%;
  height: 16.938rem;
  font-size: 0.813rem;
  color: #fff;
}
.group-child1 {
  top: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2),
    -4px -4px 20px rgba(154, 154, 154, 0.2);
  width: 33.125rem;
  height: 39rem;
}
.add-your-educational,
.tell-us-about1 {
  position: absolute;
  left: 3.188rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.tell-us-about1 {
  top: 4.5rem;
  font-size: 2rem;
  font-weight: 600;
}
.add-your-educational {
  top: 7.375rem;
  font-size: 1rem;
}
.group-child2,
.group-child3,
.group-child4 {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: calc(100% - 125px);
  top: 17.188rem;
  right: 4.625rem;
  left: 3.188rem;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  color: #2b2b2b;
}
.group-child3,
.group-child4 {
  top: 11.5rem;
}
.group-child4 {
  top: 22.875rem;
  font-size: 0.875rem;
  color: #aaa;
}
.group-child5 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #004051;
  height: 0.313rem;
}
.group-child6,
.rectangle-wrapper {
  position: absolute;
  width: calc(100% - 269px);
  top: 0;
}
.rectangle-wrapper {
  right: 16.813rem;
  left: 0;
  height: 0.313rem;
}
.group-child6 {
  right: 0;
  left: 16.813rem;
  background-color: #e3e3e3;
  height: 0.306rem;
}
.group-container {
  position: absolute;
  width: 100%;
  top: 32.438rem;
  right: 0;
  left: 0;
  height: 0.313rem;
}
.back1,
.group-child7 {
  position: absolute;
  cursor: pointer;
}
.group-child7 {
  width: calc(100% - 334px);
  top: 34.375rem;
  right: 1.438rem;
  left: 19.438rem;
}
.back1 {
  top: 35.25rem;
  left: 2.5rem;
  font-size: 1.25rem;
  text-decoration: underline;
  letter-spacing: 0.02em;
  line-height: 120%;
}
.education-1,
.education-2,
.education-3 {
  position: absolute;
  top: 10.188rem;
  left: 3.188rem;
  line-height: 125%;
  color: #000;
}
.education-2,
.education-3 {
  top: 15.875rem;
}
.education-3 {
  top: 21.563rem;
}
.rectangle-group {
  position: absolute;
  top: 7.188rem;
  left: 6rem;
  width: 33.125rem;
  height: 39rem;
  font-size: 0.875rem;
  color: #2b2b2b;
}
.icon-child1,
.icon-inner {
  position: absolute;
  border-radius: 1px;
}
.icon-inner {
  top: 1.188rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  width: 0.525rem;
  height: 1.888rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.icon-child1 {
  top: 0;
  left: 0.675rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
  width: 0.538rem;
  height: 1.844rem;
}
.cevah3,
.icon5 {
  width: 1.888rem;
  position: relative;
  height: 1.844rem;
}
.cevah3 {
  width: 5.306rem;
  display: inline-block;
  height: 2.063rem;
  flex-shrink: 0;
}
.logo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  cursor: pointer;
}
.english1,
.globe-icon1 {
  position: relative;
  flex-shrink: 0;
}
.globe-icon1 {
  width: 1.406rem;
  height: 1.375rem;
  overflow: hidden;
}
.english1 {
  width: 3.388rem;
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
}
.language1 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  gap: 0.063rem;
  font-size: 1rem;
  font-family: Inter;
}
.navigation1 {
  width: 6.356rem;
  height: 2.125rem;
}
.content1 {
  position: absolute;
  top: 1.063rem;
  left: 5.988rem;
  width: 77.988rem;
  height: 2.313rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 60rem;
}
.jd1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.login1 {
  position: absolute;
  top: 0.625rem;
  left: 81.813rem;
  border-radius: 100px;
  background-color: #17c6c4;
  border: 1px solid #17c6c4;
  box-sizing: border-box;
  width: 3rem;
  height: 3.125rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  font-size: 1.125rem;
  color: #fff;
  font-family: Inter;
}
.header1 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(249, 249, 249, 0.25);
  width: 90rem;
  height: 4.063rem;
  font-size: 1.5rem;
  color: #000;
  font-family: "IBM Plex Sans";
}
.desktop-92 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 66.625rem;
  overflow: hidden;
  text-align: left;
  font-size: 2.5rem;
  color: #222;
  font-family: Inter;
}
