.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 97.29%;
  width: 98.81%;
  top: 1.36%;
  right: 0.8%;
  bottom: 1.36%;
  left: 0.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6 {
  height: 14.75%;
  width: 4.23%;
  top: 18.31%;
  right: 64.23%;
  bottom: 66.95%;
  left: 31.54%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 14.41%;
  width: 2.44%;
  top: 18.31%;
  right: 61.04%;
  bottom: 67.29%;
  left: 36.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon8,
.vector-icon9 {
  width: 2.94%;
  right: 57.51%;
  left: 39.55%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon9 {
  width: 0.55%;
  right: 54.93%;
  left: 44.53%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  width: 2.89%;
  right: 51.39%;
  left: 45.72%;
}
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  height: 14.75%;
  width: 4.38%;
  right: 45.17%;
  bottom: 66.95%;
  left: 50.45%;
}
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  height: 14.41%;
  width: 3.23%;
  right: 41.19%;
  bottom: 67.29%;
  left: 55.57%;
}
.vector-icon13,
.vector-icon14 {
  height: 40.51%;
  width: 59.45%;
  top: 42.37%;
  right: 9.2%;
  bottom: 17.12%;
  left: 31.34%;
}
.vector-icon14 {
  height: 60.68%;
  width: 9.4%;
  top: 18.47%;
  right: 81.64%;
  bottom: 20.85%;
  left: 8.96%;
}
.vector-icon15,
.vector-icon16 {
  left: 10.25%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon15 {
  position: absolute;
  height: 29.66%;
  width: 11.09%;
  top: 18.14%;
  right: 78.66%;
  bottom: 52.2%;
  overflow: hidden;
}
.vector-icon16 {
  height: 28.64%;
  width: 11.04%;
  top: 50.51%;
  right: 78.71%;
  bottom: 20.85%;
}
.a,
.vector-icon16,
.vector-icon17 {
  position: absolute;
  overflow: hidden;
}
.vector-icon17 {
  height: 17.97%;
  width: 6.47%;
  top: 39.83%;
  right: 74.43%;
  bottom: 42.2%;
  left: 19.1%;
  max-width: 100%;
  max-height: 100%;
}
.a {
  text-decoration: none;
  top: 0;
  left: 0;
  width: 12.563rem;
  height: 3.688rem;
}
.vector-icon19,
.vector-icon20,
.vector-icon21 {
  position: absolute;
  height: 60.85%;
  width: 14.58%;
  top: 15.25%;
  right: 73.98%;
  bottom: 23.9%;
  left: 11.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon20,
.vector-icon21 {
  height: 41.53%;
  width: 55.92%;
  top: 43.39%;
  right: 11.84%;
  bottom: 15.08%;
  left: 32.24%;
}
.vector-icon21 {
  height: 16.61%;
  width: 54.38%;
  top: 16.1%;
  right: 12.54%;
  bottom: 67.29%;
  left: 33.08%;
}
.a1,
.parent7 {
  position: absolute;
  width: 12.563rem;
}
.a1 {
  text-decoration: none;
  top: 5.25rem;
  left: 0.313rem;
  height: 3.688rem;
  overflow: hidden;
}
.parent7 {
  top: 3.25rem;
  left: 71.438rem;
  height: 8.938rem;
}
.cevah10 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 2.063rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 5.188rem;
  height: 2.063rem;
}
.frame-child7,
.frame-child8 {
  position: absolute;
  border-radius: 1px;
  width: 0.525rem;
  height: 1.844rem;
}
.frame-child7 {
  top: 1.319rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frame-child8 {
  top: 0.131rem;
  left: 0.656rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
}
.cevah-parent3 {
  position: absolute;
  top: 3.25rem;
  left: 6rem;
  width: 7.25rem;
  height: 2.063rem;
  font-size: 1.5rem;
  font-family: "IBM Plex Sans";
}
.lorem-ipsum-dolor6 {
  position: absolute;
  top: 5.813rem;
  left: 6rem;
  display: flex;
  align-items: center;
  width: 14.25rem;
  height: 4.188rem;
}
.social-icons15 {
  position: absolute;
  top: 12.25rem;
  left: 10.813rem;
  width: 1.438rem;
  height: 1.438rem;
  overflow: hidden;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon23,
.vector-icon24 {
  height: 51.3%;
  width: 51.36%;
  top: 24.35%;
  right: 24.55%;
  bottom: 24.35%;
  left: 24.09%;
}
.vector-icon24 {
  height: 12.17%;
  width: 11.82%;
  top: 17.39%;
  right: 17.27%;
  bottom: 70.43%;
  left: 70.91%;
}
.social-icons16 {
  text-decoration: none;
  top: 12.25rem;
  left: 8.438rem;
  width: 1.375rem;
  height: 1.438rem;
}
.social-icons16,
.social-icons17,
.vector-icon25 {
  position: absolute;
  overflow: hidden;
}
.vector-icon25 {
  height: 99.57%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.43%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-icons17 {
  text-decoration: none;
  top: 12.25rem;
  left: 6rem;
  width: 1.438rem;
  height: 1.438rem;
}
.contact-us5,
.support5 {
  position: absolute;
  top: 3.313rem;
  left: 25.875rem;
  font-size: 1rem;
  font-weight: 600;
}
.support5 {
  left: 39.125rem;
}
.hellocevahgmailcom5 {
  position: absolute;
  top: 0.063rem;
  left: 1.5rem;
}
.envelope-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  overflow: hidden;
}
.hellocevahgmailcom-parent3 {
  position: absolute;
  top: 7.688rem;
  left: 25.875rem;
  width: 9.688rem;
  height: 1.125rem;
  font-family: "Red Hat Text";
}
.privacy-policy5,
.terms-of-use5 {
  position: absolute;
  top: 7.688rem;
  left: 39.125rem;
}
.privacy-policy5 {
  top: 9.563rem;
}
.div5 {
  position: absolute;
  top: 0;
  left: 1.5rem;
}
.vector-icon26 {
  position: absolute;
  height: 87.65%;
  width: 11.31%;
  top: 11.76%;
  right: 88.69%;
  bottom: 0.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent8 {
  top: 5.813rem;
  left: 25.875rem;
  width: 7.625rem;
  height: 1.063rem;
  font-family: "Red Hat Text";
}
.faqs5,
.footer5,
.parent8 {
  position: absolute;
}
.faqs5 {
  top: 5.813rem;
  left: 39.125rem;
}
.footer5 {
  top: 49.688rem;
  left: 0;
  background-color: #004051;
  width: 90rem;
  height: 16.938rem;
  text-align: left;
  font-size: 0.813rem;
  color: #fff;
  font-family: Inter;
}
.icon-child8,
.icon-child9 {
  position: absolute;
  border-radius: 1px;
}
.icon-child8 {
  top: 1.188rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  width: 0.525rem;
  height: 1.888rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.icon-child9 {
  top: 0;
  left: 0.675rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
  width: 0.538rem;
  height: 1.844rem;
}
.cevah11,
.icon15 {
  width: 1.888rem;
  position: relative;
  height: 1.844rem;
}
.cevah11 {
  margin: 0;
  width: 5.306rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  height: 2.063rem;
  flex-shrink: 0;
}
.logo5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  cursor: pointer;
}
.english5,
.globe-icon5 {
  position: relative;
  flex-shrink: 0;
}
.globe-icon5 {
  width: 1.406rem;
  height: 1.375rem;
  overflow: hidden;
  object-fit: cover;
}
.english5 {
  width: 3.388rem;
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
}
.language5 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  gap: 0.063rem;
  font-size: 1rem;
  font-family: Inter;
}
.navigation5 {
  width: 6.356rem;
  height: 2.125rem;
}
.content8 {
  position: absolute;
  top: 1.063rem;
  left: 5.988rem;
  width: 77.988rem;
  height: 2.313rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 60rem;
}
.jd5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.login5 {
  position: absolute;
  top: 0.625rem;
  left: 81.813rem;
  border-radius: 100px;
  background-color: #17c6c4;
  border: 1px solid #17c6c4;
  box-sizing: border-box;
  width: 3rem;
  height: 3.125rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  font-size: 1.125rem;
  color: #fff;
  font-family: Inter;
}
.header5 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(249, 249, 249, 0.25);
  width: 90rem;
  height: 4.063rem;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  font-family: "IBM Plex Sans";
}
.ad-placeholder-icon4 {
  position: absolute;
  top: 2.188rem;
  left: 27.75rem;
  width: 56.25rem;
  height: 43.438rem;
  object-fit: cover;
}
.hero5 {
  position: absolute;
  top: 4.063rem;
  left: 6rem;
  width: 86.625rem;
  height: 42.688rem;
}
.content-child10 {
  position: absolute;
  top: 0;
  left: calc(50% - 265px);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2),
    -4px -4px 20px rgba(154, 154, 154, 0.2);
  width: 33.125rem;
  height: 38.188rem;
}
.button-primary {
  position: absolute;
  width: calc(100% - 184px);
  top: 31.063rem;
  right: 5.75rem;
  left: 5.75rem;
  cursor: pointer;
}
.get-started-on {
  margin: 0;
  width: calc(100% - 158px);
  top: 3.688rem;
  left: 4.938rem;
  font-size: 2.25rem;
  font-weight: 600;
  font-family: inherit;
  text-align: center;
  display: inline-block;
  height: 5.375rem;
}
.div6,
.get-started-on,
.share-you-name,
.tell-us-about5 {
  position: absolute;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.div6 {
  top: 0;
  left: 0;
  font-weight: 600;
}
.share-you-name,
.tell-us-about5 {
  left: 1.625rem;
}
.tell-us-about5 {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.share-you-name {
  width: calc(100% - 26px);
  top: 2rem;
  font-size: 1rem;
  display: inline-block;
}
.parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17.438rem;
  height: 4.375rem;
}
.ellipse-div {
  position: absolute;
  top: 0.188rem;
  left: 21.813rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 4rem;
  height: 4rem;
}
.group-parent3 {
  top: 12.375rem;
  left: 3.688rem;
  width: 25.813rem;
}
.group-parent3,
.group-parent4,
.parent10 {
  position: absolute;
  height: 4.375rem;
}
.parent10 {
  top: 0;
  left: 0;
  width: 18.438rem;
}
.group-parent4 {
  top: 20.5rem;
  left: 3.688rem;
  width: 25.813rem;
}
.line-div {
  position: absolute;
  width: calc(100% - 43px);
  top: 18.594rem;
  right: 1.344rem;
  left: 1.344rem;
  border-top: 1px solid #dbdbdb;
  box-sizing: border-box;
  height: 0.063rem;
}
.content9 {
  position: absolute;
  top: 7.188rem;
  left: calc(50% - 624px);
  width: 33.125rem;
  height: 38.188rem;
}
.desktop-119 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 66.625rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.5rem;
  color: #2b2b2b;
  font-family: Inter;
}
